## Car data collection

In [1]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time
import pandas as pd # Importing the required libraries
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import NoSuchElementException

In [2]:
PATH = "C:\Program Files (x86)\chromedriver.exe" # Defining path

This is a list of 22 cities for which I will be scrapping the car data:

In [3]:
cities = ['Rohtak','Panipat','Delhi','Mumbai','Pune','Bengaluru','Hyderabad','Chennai','Kolkata','Ahmedabad','Surat','Bhopal', 'Chandigarh','Nasik','Rajkot','Jaipur','Ludhiana','Meerut','Mysore','Vadodara','Kochi','Lucknow']

In [4]:
len(cities)

22

In [5]:
driver = webdriver.Chrome(PATH)
driver.get("https://www.cars24.com/buy-used-car?sort=P&storeCityId=5&pinId=122001")

time.sleep(2) # Going to link

Maximising the opened window as sometimes there is an error other wise.

In [6]:
driver.set_window_size(1024, 600)
driver.maximize_window()

The following xpath opens up the location prompt; we click it to select the next location.

In [7]:
selection = driver.find_element_by_xpath("/html/body/div[1]/div[1]/div[2]/div/div/div[1]/p")
selection.click()

A basic function which will take the text element from the scraped web element and append it to a list.

In [8]:
def append(path,list_): # This is a function I have created which will be used throughout the assignment to not repeat same piece of code again and again
    for i in path:
        list_.append(i.text)   # This function basically iterates the text from each element from seleenium driver and appends it to the list provided.

This function will be used to scroll down to the bottom of a page; as cars 24 uses infinite scrolling this will be useful.

In [9]:
def scroll_down():
    for i in range(32):
        driver.execute_script("window.scrollTo(0, 1299999)") 
        time.sleep(0.5)

Initiating lists to which I will append the data.

In [10]:
urls = []
car_name = []
car_transmission = []
car_variant = []
car_mileage = []
car_owner = []
car_fuel = []
car_price = []

car_city = []

In [11]:
for city in cities:
    
    search_bar = driver.find_element_by_xpath("//div[@class='_6QaMX']/input") # Goes to the search bar for location
    search_bar.send_keys(Keys.CONTROL, 'a')                                   # Clear previous entry
    search_bar.send_keys(Keys.BACKSPACE)
    search_bar.send_keys(city)                                                # Type in one city name from the list (loop next)
    time.sleep(1)
    
    try:
        to_click = driver.find_element_by_xpath("//ul[@class='_16Bvy']/li")      # Select city
    except:
        to_click = driver.find_element_by_xpath("/html/body/div[1]/div[6]/div/div/div/div[2]/div/div/ul/div/li") # Select city
        
    to_click.click() # Click city
        
    time.sleep(2)
    print(city) # For conformation, that city is selected properly
    scroll_down()
    
       
    links = driver.find_elements_by_xpath("//a[@class='_9Ue0B']")
    names = driver.find_elements_by_xpath("//div[@class='_1l4fi']/div/div/h2")
    transmissions = driver.find_elements_by_xpath("//div[@class='_1l4fi']/div/div/p/span")
    variants = driver.find_elements_by_xpath("//div[@class='_1l4fi']/div/div/p")
    mileage = driver.find_elements_by_xpath("//div[@class='_1l4fi']/ul/li[1]")         # Various xpaths for the data we need
    owner = driver.find_elements_by_xpath("//div[@class='_1l4fi']/ul/li[2]")           # to collect about the cars
    fuel = driver.find_elements_by_xpath("//div[@class='_1l4fi']/ul/li[3]")            # Self explanatory names
    price = driver.find_elements_by_xpath("//div[@class='_1l4fi']/div[2]/div/span")    
    
    for url in links:
        urls.append(url.get_attribute('href'))
    
    append(names,car_name)
    append(transmissions,car_transmission)
    append(variants,car_variant)
    append(mileage,car_mileage)
    append(owner,car_owner)             # Append all data to list 
    append(fuel,car_fuel)
    append(price,car_price)
    
    print(len(links),len(names),len(transmissions),len(variants),len(mileage),len(owner),len(fuel),len(price))
    # To confirm that all data is of same length
    
    length_cur = len(names)  
    
    for i in range(length_cur): # Adding list with city name; it has equal amount of data as other collected data 
        car_city.append(city)   # for that specific city

    
    selection = driver.find_element_by_xpath("/html/body/div[1]/div[1]/div[2]/div/div/div[1]/p")
    selection.click()           # After data collection, to select next city

Rohtak
237 237 237 237 237 237 237 237
Panipat
229 229 229 229 229 229 229 229
Delhi
432 432 432 432 432 432 432 432
Mumbai
513 513 513 513 513 513 513 513
Pune
419 419 419 419 419 419 419 419
Bengaluru
305 305 305 305 305 305 305 305
Hyderabad
73 73 73 73 73 73 73 73
Chennai
264 264 264 264 264 264 264 264
Kolkata
228 228 228 228 228 228 228 228
Ahmedabad
321 321 321 321 321 321 321 321
Surat
299 299 299 299 299 299 299 299
Bhopal
27 27 27 27 27 27 27 27
Chandigarh
415 415 415 415 415 415 415 415
Nasik
273 273 273 273 273 273 273 273
Rajkot
256 256 256 256 256 256 256 256
Jaipur
228 228 228 228 228 228 228 228
Ludhiana
187 187 187 187 187 187 187 187
Meerut
227 227 227 227 227 227 227 227
Mysore
21 21 21 21 21 21 21 21
Vadodara
235 235 235 235 235 235 235 235
Kochi
97 97 97 97 97 97 97 97
Lucknow
53 53 53 53 53 53 53 53

In [12]:
time.sleep(2)
close_but = driver.find_element_by_xpath("/html/body/div[1]/div[6]/div/div/h3/div") # Close after all data is collected
close_but.click()

In [13]:
c24_df = pd.DataFrame({}) # Initiating empty data frame

c24_df['Name'] = car_name
c24_df['Transmission type'] = car_transmission 
c24_df['Variant'] = car_variant 
c24_df['Mileage'] = car_mileage 
c24_df['Owned'] = car_owner 
c24_df['Fuel type'] = car_fuel 
c24_df['City'] = car_city 
c24_df['Price'] = car_price

In [14]:
c24_df.head() # Probing first 5 elements of the data frame

,Name,Transmission type,Variant,Mileage,Owned,Fuel type,City,Price
0,2020 Hyundai Verna,Manual,S PETROL MT Manual,"19,158 km",1st Owner,Petrol,Rohtak,"₹9,24,099"
1,2014 Hyundai Verna,Manual,FLUIDIC 1.4 CRDI CX Manual,"44,585 km",2nd Owner,Diesel,Rohtak,"₹5,46,099"
2,2018 Maruti Baleno,Manual,ZETA 1.2 K12 Manual,"9,483 km",2nd Owner,Petrol,Rohtak,"₹6,15,199"
3,2016 Maruti Ertiga,Manual,VDI SHVS Manual,"94,362 km",1st Owner,Diesel,Rohtak,"₹5,84,199"
4,2017 Hyundai Creta,Manual,1.6 E + VTVT Manual,"17,227 km",2nd Owner,Petrol,Rohtak,"₹8,12,299"

In [15]:
c24_df.tail() # Probing bottom 5 elements of the data frame

,Name,Transmission type,Variant,Mileage,Owned,Fuel type,City,Price
5334,2018 Maruti Swift,Manual,VDI Manual,"71,530 km",1st Owner,Diesel,Lucknow,"₹6,15,099"
5335,2018 Maruti Vitara Brezza,Manual,ZDI Manual,"80,169 km",1st Owner,Diesel,Lucknow,"₹8,07,199"
5336,2019 Maruti Alto K10,Manual,VXI Manual,"18,238 km",1st Owner,Petrol,Lucknow,"₹3,88,799"
5337,2020 Maruti Alto,Manual,VXI Manual,"7,802 km",1st Owner,Petrol,Lucknow,"₹3,95,699"
5338,2018 Honda Amaze,Manual,1.2 V CVT I VTEC Manual,"25,742 km",1st Owner,Petrol,Lucknow,"₹7,12,799"

In [16]:
c24_df.to_csv('car_data.csv') # Saving the dataframe as .csv

In [17]:
driver.quit()

## Data collection phase complete